
body, html{
    height: 100%;
}

body {
    padding-bottom: 40px;
    background-image: url("../images/4-background.png");
	overflow-x:hidden;
}

header{
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    height: 80px;
}

#logo{
    position: absolute;
}

#navigation
{
    position: absolute;
    right: 100px;
    top: 30px;
}

#wrap{
    min-height: 100%;
    position: relative;
}

#wrap > footer{
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    bottom: -100px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    
}

.panel .panel-heading h4 a, .list-group-item span{
    word-wrap: break-word;
}

footer .container p{
    text-align: center;
    margin-top: 10px;
}
.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.progress{
    margin-top: 30px;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../images/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

li.list-group-item input[type="checkbox"]{
    margin-right: 10px;
}

li.list-group-item div#icon_for_item, h4.panel-title div#icon_for_item{
    float:right;
    margin-left: 5px;
}
li.list-group-item div#icon_for_item span.glyphicon, h4.panel-title div#icon_for_item
{
    cursor: pointer;
}

div#accordion div.panel
{
    width: 30%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    margin-left: 20px;    
}

div#accordion div.panel div.collapse
{
    height: 300px;
    overflow: auto;
}

div#icon_for_item button.btn
{
    padding: 2px 8px;
}

div.modal-body input#check_category
{
    width: 100%;
}

#logout, #delete-account{
    text-align: right;
    cursor: pointer;
}

.jumbotron
{
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin-top: 30px;
}

.icon_category{
    cursor: pointer;
}

.icon_category_select{
    background-color: #e6e6e6;
}

/** Section about **/

.section-about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    position: relative;
    top: 30px;
}

.section-about
{
    background-color: #f4f4f4;
    min-height: 550px;
}

.section-about p, .section-carosel p, .section-end > p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.main-phrase, .section-end > p
{
    font-size: 40px;   
    font-weight: bold;   
    width: 90%;
}
.section-about p.second-phrase{
    font-size: 25px;  
    width: 60%;
}

.section-about a{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    top: 10px;
    position: relative;
}

/** Section plus **/

section.section-plus{
    background-color: #5bc0de;
    min-height: 650px;
    margin-top: -10px;
}

section.section-plus p, .section-fact > p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 31px;
    font-weight: bold;
    position: relative;
    top: 30px;
}

.sphere{
    border-radius: 100%;
    background-color: #fff;
    height: 250px;
    width: 250px;
}

.sphere img{
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%
}

.sphere-caption{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #313131;
    font-size: 18px;
    position: relative;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/** Section carousel **/
.section-carousel
{
    background-color: #f4f4f4;
    min-height: 550px;
}

.carousel-inner .item img{
    margin-left: auto;
    margin-right: auto;
}

.carousel p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 31px;
    font-weight: bold;
    position: relative;
    top: 20px;
}

.carousel-inner .item  img
{
    margin-top: 30px;
}

.carousel-indicators{
    bottom: 40px;
}

.carousel-indicators li{
    border-color: #58585a;
}

.carousel-indicators .active{
    background-color: #58585a;
}

.carousel-inner{
    min-height: 500px;
}

.carousel-caption
{
    color: #58585a;
    bottom: -80px;
}

/** Section fact **/
section.section-fact{
    background-color: #5bc0de;
    min-height: 750px;
}

section.section-fact .content
{
    margin-top: 50px;
}

.section-fact .content .row .col-lg-4 img
{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.section-fact .content .row .col-lg-offset-2{
    border-right: 1px solid;
    border-color: #fff;
}

.section-fact .content .row .col-lg-4 p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #313131;
    font-size: 16px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
}

/** Section end **/
section.section-end {
    background-color: #f4f4f4;
    min-height: 200px;
}

.section-end > p{
    font-size: 28px;
}

.section-end a{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
}

div .cats{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 180px;
}