<?php
    $flash=$this->flashMessenger();
    $flash->setMessageOpenFormat('<div%s> 
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            &times;
        </button>
        <ul> <li>')
            ->setMessageSeparatorString('</li><li>')
            ->setMessageCloseString('</li></ul></div>');
    
    echo $flash->render('error', array('alert', 'alert-dismissable', 'alert-danger'));
    echo $flash->render('info', array('alert', 'alert-dismissable', 'alert-info'));
    echo $flash->render('default', array('alert', 'alert-dismissable', 'alert-warning'));
    echo $flash->render('success', array('alert', 'alert-dismissable', 'alert-success'));
?>
<div class="bs-docs-section">
    <div class="well">
   <?php
    $form->setAttribute('action', $this->url('login', array('action'=>'authenticate')));
    $form->setAttribute('class', 'form-horizontal');
    $form->prepare();    
    echo $this->form()->openTag($form);
    ?>
        
    <fieldset>
            <legend> Вход в систему</legend>
            <?php
            $e=$form->get('login');
            $e->setLabelAttributes(array('class'=>'col-lg-2 control-label'));
            $e->setAttributes(array('class'=>'form-control', 'autofocus'=>'autofocus'));
            ?>
            <div class="form-group">
                <?php echo $this->formLabel($e);?>
                <div class="col-lg-10"><?php echo $this->formInput($e); ?></div>
            </div>
            
             <?php
            $e=$form->get('password');
            $e->setLabelAttributes(array('class'=>'col-lg-2 control-label'));
            $e->setAttributes(array('class'=>'form-control'));
            ?>
            <div class="form-group">
                <?php echo $this->formLabel($e);?>
                <div class="col-lg-10"><?php echo $this->formPassword($e); ?></div>
            </div>
       <?php 
       $e=$form->get('submit');
       $e->setAttributes(array('class'=>'btn btn-default'));
       echo $this->formRow($e); ?>
         <?php echo $this->form()->closeTag(); ?>  
        <a class="btn btn-default" href="<?php echo $this->url('reg', array('action'=>'index')); ?>">Регистрация</a>  
  </fieldset> 
     </div>  
</div>
 

