<script>
    $('#navigation a:first').html('Выйти');
    $('#navigation a:first').attr('href', '/auth/logout/');
    $('#navigation a:last').html('Удалить профиль');
    $('#navigation a:last').attr('href', '');
    $('#navigation a:last').attr('onclick', 'open_window_delete_account()');

    
</script>
<div class="jumbotron container">
  <h2>Алоха, <?php echo $name.'!'?></h2>
  <p> Начните лицезреть то, о чем раньше вы только думали.</p>
  <p>
      <a class="btn btn-primary btn-large" onclick="open_window_add_category()">
      Добавить категорию
    </a>
  </p>
</div>

<div id="message">
</div>

<div id="fireworks-template">
 <div id="fw" class="firework"></div>
 <div id="fp" class="fireworkParticle"><img src="../images/particles.gif " alt="" /></div>
</div>

<div id="fireContainer"></div>

<div class="container" id="accordion">
<?php
    $i=0;
   
    foreach ($purposes as $category)
    {
        $id_panel = 'panel_'.$i;
        echo '<div class="panel panel-default col-lg-3 pull-left" id="'.$category['id'].'">';
             echo       '<div class="panel-heading">
                <h4 class="panel-title">';
                echo "<a data-toggle='collapse' data-toggle='#accordion' href='#".$id_panel."'>"; 
                if ($category['path']!=null)
                    echo '<img src="../images/icon/standart/'.$category['path'].'" alt="" width="50px" height="50px">';
                echo '<span>'.$category['name'].'</span>';
                echo '</a>';
                 echo '<div id="icon_for_item">
                    <button class="btn btn-success" onclick="open_window_add_purpose('."'".$category['id']."'".')" ><span class="glyphicon glyphicon-plus" title="Добавить цель"></span></button>
                    <button class="btn btn-primary" onclick="open_window_edit_category('."'".$category['id']."'".')" ><span class="glyphicon glyphicon-pencil" title="Редактировать категорию"></span>  </button>            
                    <button class="btn btn-danger" onclick="open_window_remove_category('."'".$category['id']."'".')" ><span class="glyphicon glyphicon-remove" title="Удалить категорию"></span></button>
                 </div>
                </h4>
            </div>';
        echo "<div id='".$id_panel."' class='panel-collapse collapse in'>
             <div class='panel-body'>
                 <ul class='list-group'>";  
        $isDone=0;
                    foreach ($category['purpose'] as $item)
                     { 
                      echo '<li class="list-group-item"  id="'.$item['id'].'">';
                        if ($item['isDone']==0) 
                            echo '<input type="checkbox" value="" onclick="change_checkbox('."'".$item['id']."'".','."'".$category['id']."'".')">';
                        else
                            {
                                echo '<input type="checkbox" value="" checked onclick="change_checkbox('."'".$item['id']."'".','."'".$category['id']."'".')">';
                                $isDone++;
                            }
                                echo '<div id="icon_for_item">
                                    <button class="btn" onclick="open_window_edit_purpose('."'".$item['id']."'".','."'".$item['name']."'".')" > <span class="glyphicon glyphicon-pencil" title="Редактировать цель"> </button>            
                                    <button class="btn" onclick="open_window_remove_purpose('."'".$item['id']."'".','."'".$category['id']."'".')" > </span> <span class="glyphicon glyphicon-remove" title="Удалить цель"></span> </button> 
                                 </div>';
                                 echo '<span>'. $item['name'] .'</span>';
                             echo '</li>';     
                     }    
                  echo '</ul>
             </div>
             </div>
        <div class="progress progress-striped">';
            if (count($category['purpose']!=0))      
                 $percent = intval(($isDone/count($category['purpose'])) *100);
            else 
               $percent = 0; 
      if ($percent==100)  
          echo   ' <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="'.$percent.'" aria-valuemin="0" aria-valuemax="100" style="width:'. $percent.'%">';
      else  
          echo   ' <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="'.$percent.'" aria-valuemin="0" aria-valuemax="100" style="width:'. $percent.'%">';
      echo '<span>';
       if ($percent>15) echo $percent. '% ';
       echo '</span>';
        echo ' </div>
        </div>
    
  </div>'; 
     $i++;         
    }
?>
 
</div>



<!-- Modal window for remove category -->
<div id="delete-modal" class="modal fade bs-delete-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Удаление</h4>
      </div>
      <div class="modal-body">
        Вы действительно хотите удалить этот пункт?
      </div>
      <div class="modal-footer">
         <button type="button" id="btn_save_delete" class="btn btn-primary" data-dismiss="modal">Да</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal window for edit and add category -->
<div id ="add-modal" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content" onclick="">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
          <label> Введите имя категории </label>
          <input type="text" id="check_category" data-modalfocus maxlength="55"> 
          <label> Выберите иконку для категории </label>
          <div>
              <?php
              
                foreach ($icons as $icon)
                {
                     echo '<button id="icon_'.$icon->getId().'" onclick="select_icon_category('."'".$icon->getId()."'".')" class="btn btn-default"><img class="icon_category" src="../images/icon/standart/'.$icon->getPath().'" alt="" width="50px" height="50px"> </button>';
                }
              ?>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn_save_edit_or_add" class="btn btn-primary" data-dismiss="modal">Сохранить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal window for delete account -->
<div id="delete-acc" class="modal fade bs-delete-acc-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Удаление аккаунта</h4>
      </div>
      <div class="modal-body">
        Вы действительно хотите покинуть нас навсегда? :(
      </div>
      <div class="modal-footer">
        <button type="button" id="btn_delete_acc" class="btn btn-primary" data-dismiss="modal">Да</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
      </div>
    </div>
  </div>
</div>