<?php echo $this->doctype(); ?>

<html lang="ru">

    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Purpose Guru'); ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/fireworks.js/style/fireworks.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.css') ?>

        <!-- Scripts -->
        <?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                                      ->prependFile($this->basePath() . '/js/bootstrap.js')
                                      ->prependFile($this->basePath() . '/js/bootstrap.min.js')
                                      ->prependFile($this->basePath() . '/js/myScript.js')
                                      ->prependFile($this->basePath() . '/fireworks.js/script/fireworks.js')
                                      ->prependFile($this->basePath() . '/fireworks.js/script/soundmanager2-nodebug-jsmin.js')
                                      ->prependFile($this->basePath() . '/js/jquery.js') ?>

    </head>
    
    <header>
        <div class="container">
            <div id="logo">
              <a href="<?php echo $this->url('start', array('action' => 'index')); ?>">  <img src="../images/logo.png" alt="" width="170px" height="67px"> </a>
             </div>      
             <div id="navigation">
                <a class="" href="<?php echo $this->url('reg', array('action'=>'index')); ?>">Зарегистрироваться</a>
                 <a class="" href="<?php echo $this->url('login', array('action'=>'authenticate')); ?>">Войти</a>
             </div>
        </div>
    </header>
    
    <body>
      <!-- <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="<?php //echo $this->url('home') ?>"><?php //echo $this->translate('Skeleton Application') ?></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="<?php //echo $this->url('home') ?>"><?php //echo $this->translate('Home') ?></a></li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div> -->
      <div id="wrap">

            <?php echo $this->content; ?>
            
        <?php echo $this->inlineScript() ?>
        
          <footer>
             <div class="container">
                  <p>&copy; 2016 by toDoPurpose. <?php echo $this->translate('All rights reserved.') ?></p>
             </div>     
          </footer>
      </div>
    </body>
    

</html>
