
<section class="section-about">
    <img src="../images/logo.png" alt="" width="340px" height="134px">

    <p class="main-phrase">ToDoPurpose - бесплатный, удобный и надежный способ держать под котролем свои цели. </p>
    <p class="second-phrase"> 
Когда задача прописывается, она определяется максимально четко и ясно. В сознании формируется точный образ желаемого результата. Исчезает страх неизвестности и неопределенности. Это значительно облегчает дальнейшую реализацию составленных планов.
    <a class="btn btn-info btn-lg" href="<?php echo $this->url('login', array('action' => 'authenticate')); ?>">Начать работу</a>

</section>
    
<section class="section-plus">
    <p> Использование сервиса открывает множество возможостей</p>
    <div class="row" style="margin-top: 50px;">
        <div class="col-lg-3 col-lg-3 col-lg-offset-2">
            <div class="sphere">
                <img src="../images/plus-icon/1.png"  width="160px" height="160px">
                <div class="sphere-caption">
                    Визуализируй свои цели и идеи
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="sphere">
                <img src="../images/plus-icon/2.png" width="170px" height="160px">
                <div class="sphere-caption">
                    Делай то, что имеет значение
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="sphere">
                <img src="../images/plus-icon/3.png" width="170px" height="160px">
                <div class="sphere-caption">
                    Представляй свои цели четко и ясно
                </div>
            </div>
        </div>        

    </div>    
    <div class="row">
        <div class="col-lg-4 col-lg-offset-3">
            <div class="sphere">
                <img src="../images/plus-icon/4.png" width="180px" height="160px">
                <div class="sphere-caption">
                    Держи свою жизнь под котролем
                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="sphere">
                <img src="../images/plus-icon/5.png" width="130px" height="150px" style="padding-top: 15%;">
                <div class="sphere-caption">
                    Следи за своим прогрессом
                </div>
            </div>
        </div>
    </div>
</section>   

<section class="section-carousel">
    <div id="carousel-purpose" class="carousel slide" data-ride="carousel">
    <p class="main-phrase"> Как это работает?</p>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-purpose" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-purpose" data-slide-to="1"></li>
    <li data-target="#carousel-purpose" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
 
    <div class="item active">
        <img src="../images/carousel/2.jpg" width="900" height="400">
       <div class="carousel-caption">
        <h3> Добавляйте категории целей</h3>
      </div>
    </div>
      
    <div class="item">
     <img src="../images/carousel/3.png" width="900" height="400">
      <div class="carousel-caption">
        <h3> Добавляйте цели в категориях</h3>
      </div>
    </div>  
      
    <div class="item">
     <img src="../images/carousel/4.png" width="900" height="400">
      <div class="carousel-caption">
         <h3> Достигайте цели и отслеживайте свой прогресс</h3>
      </div>
    </div>   
      
  </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-purpose" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-purpose" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    </div>
</section>   

<section class="section-fact">
   <p>А теперь интересное исследование <strike>британских</strike> американских ученых</p>
    <div class="content">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <img src="../images/icon-fact/1.png" width="100" height="100">
            <p>В 1979 году в Гарварде проводилось интересное исследование</p>
        </div>
        
        <div class="col-lg-4">
            <img src="../images/icon-fact/4.png" width="100" height="100">
            <p>Спустя 10 лет, бывших студентов Гарварда опросили снова</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <img src="../images/icon-fact/2.png" width="100" height="100">
            <p>Старшекурсникам задали вопрос: «Ставите ли вы чёткие, письменно оформленные цели на будущее?»</p>
        </div>
        
        <div class="col-lg-4">
            <img src="../images/icon-fact/5.png" width="100" height="100">
            <p> Выяснилось, что 13%, у которых были незаписанные цели, зарабатывают в 2 раза больше, чем не имевшие целей.</p>
        </div>
    </div>
    
    <div class="row">
        
        <div class="col-lg-4 col-lg-offset-2">
            <img src="../images/icon-fact/3.png" width="100" height="100">
            <p>Только у 3% опрошенных были записаны конкретные цели. 13% - имели цели, но не фиксировали их, 84% - не имели конкретных целей вообще </p>
        </div>
        
        <div class="col-lg-4">
            <img src="../images/icon-fact/6.png" width="100" height="100">
            <p>А теперь внимание…3% тех, кто фиксировал свои цели письменно, зарабатывали в среднем в 10 РАЗ больше, чем остальные 97% в сумме!!</p>
        </div>
        
    </div>
  </div>  
</section>   

<section class="section-end">
    
    <div class="well" style="padding-bottom: 0px;">
        <blockquote class="blockquote-reverse">
         <p>Планирование без действий - это мечта. Действия без планирования - это кошмар.</p>
         <footer>Японская поговорка </footer>
        </blockquote>
    </div>    
    <a class="btn btn-info btn-lg" href="<?php echo $this->url('login', array('action' => 'authenticate')); ?>">ПОЛЕТЕЛИ!</a>
    
    <div class="cats">       
        <img src="../images/cats/1.png" width="88" height="88">
         <img src="../images/cats/2.png" width="88" height="88">
    </div>
</section> 